.popup__title {
  font-family: Inter, 'Arial', sans-serif;
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 0 0 36px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 0 22px;
  }
}
