.popup__button-save {
  width: 358px;
  height: 50px;
  text-align: center;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  margin: 48px 0 37px 36px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: none;
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button-save:focus {
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    margin: 45px auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }
}
