.header__desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 880px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__desktop {
    display: none;
    width: 320px;
  }
}
