.popup__form-input {
  display: block;
  width: 358px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 0 36px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

.popup__form-input:first-of-type {
  margin-top: 0;
}

.popup__form-input:focus {
  outline: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__form-input {
    width: 234px;
    margin-left: 22px;
  }
}
