.elements__like {
  width: 21px;
  height: 18px;
  margin-right: 1.3px;
  background-image: url(../../../images/elements/like.svg);
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  transition: opacity 0.7s;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__like:focus {
  outline: none;
}

.elements__like:active {
  background-image: url(../../../images/elements/like-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}
