@import url(./vendor/normalize.css);
@import url(./fonts/InterWeb/inter.css);
@import url(./blocks/body/body.css);
/*Блок page*/
@import url(./blocks/page/page.css);
/*Блок header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
/*Блок profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/profile/__main-info/profile__main-info.css);
@import url(./blocks/profile/__photo-group/profile_photo-group.css);
@import url(./blocks/profile/__photo-button/profile__photo-button.css);
/*Блок elements*/
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__basket/elements__basket.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__group/elements__group.css);
@import url(./blocks/elements/__like/_active/elements_like_active.css);
@import url(./blocks/elements/__group-like/elements__group-like.css);
@import url(./blocks/elements/__like-count/elements__like-count.css);
@import url(./blocks/elements/__basket/_hidden/elements__basket_hidden.css);
/*Блок footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/*Блок popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/_visible/popup_visible.css);
@import url(./blocks/popup/_image/popup_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__button-close/_image/popup__button-close_image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__container/_add/popup__container_add.css);
@import url(./blocks/popup/__form-input/_place/popup__form-input_place.css);
@import url(./blocks/popup/__title/_place/popu__title_place.css);
@import url(./blocks/popup/__button-save/_place/popup__button-save_place.css);
@import url(./blocks/popup/__form-error/popup__form-error.css);
@import url(./blocks/popup/__form-error/_active/popup__form-error_active.css);
@import url(./blocks/popup/__type-error/popup__type-error.css);
@import url(./blocks/popup/__button-save/_inactive/popup__button-save_inactive.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__button-save/_verification/popup__button-save_verification.css);
@import url(./blocks/popup/__delete-text/popup__delete-text.css);
@import url(./blocks/popup/_hidden/popup_hidden.css);
@import url(./blocks/loading/loading.css);
@import url(./blocks/popup/__button-save/_loading/popup__button-save_loading.css);
@import url(./blocks/popup/_success/popup_success.css);
@import url(./blocks/popup/__success-image/popup__success-image.css);
@import url(./blocks/popup/__fail-image/popup__fail-image.css);
@import url(blocks/popup/__title/_notification/popup__title_notification.css);
/*Блок entry-container*/
@import url(./blocks/entry-container/entry-container.css);
@import url(./blocks/entry-container/__title/entry-container__title.css);
@import url(./blocks/entry-container/__form/entry-container__form.css);
@import url(./blocks/entry-container/__input/entry-container__input.css);
@import url(./blocks/entry-container/__submit/entry-container__submit.css);
@import url(./blocks/entry-container/__auth/entry-container__auth.css);
@import url(./blocks/entry-container/__auth-link/entry-container__auth-link.css);
