.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.header {
  width: 700px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    width: 320px;
  }
}
